<h1>パスワードの再設定</h1>
<p class="text-danger">※登録したメールアドレスを入力してください</p>
<%= form_with(scope: :password_reset, model: @user, url: password_resets_path, local: true) do |f| %>

  <div class="mb-3">
    <%= icon("envelope") %> <%= f.label "Eメールアドレス", class: "form-label required" %>
    <%= f.email_field :email, class: "form-control" %>
  </div>

  <div class="mb-5">
    <%= f.submit "送信する", class: "btn btn-primary" %>
    <%= link_to "キャンセル", login_path, class: "btn btn-secondary" %>
  </div>

<% end %>
