<%= form_with(model: [@plan, @companion], local: true, class: "mb-5", data: { controller: "companion"}) do |f| %>

  <% if @companion.new_record? %>
    <div class="form-check mb-3">
      <input class="form-check-input" type="checkbox" value="" id="addProfile" data-target="companion.add_profile" data-action="change->companion#addProfile">
      <label class="form-check-label" for="addProfile">
        プロフィールの個人情報を利用する
      </label>
      <p style="font-size: 0.8em" class="text-danger">※アカウントタブ「個人情報の追加・編集」よりプロフィール設定できます</p>
    </div>
  <% end %>

  <%#------- 氏名（フルネーム） -------- %>
  <div class="mb-3">
    <%= icon("person") %> <%= f.label "氏名", for: "companionFullName", class: "form-label required" %>
    <%= f.text_field :full_name, placeholder: "例）山田 太郎", class: "form-control", id: "companionFullName", data: { target: "companion.full_name", json: "#{@plan.user.full_name.to_json}" } %>
  </div>

  <%#------- 役割 -------- %>
  <div class="mb-3">
    <%= icon("person") %> <%= f.label "役割", for: "companionRole", class: "form-label" %>
    <%= f.select :role, [['役割なし', "X"],['リーダー(CL)', "CL" ], ['サブリーダー(SL)', "SL"]], {include_blank: false}, {class: "form-select", id: "companionRole", data: { target: "companion.role" }}%>
  </div>

  <%#------- 生年月日 -------- %>
  <div class="mb-3">
    <%= icon("calendar-date") %> <%= f.label "生年月日", for: "companionBirthday", class: "form-label required" %>
    <div data-target="companion.birthday" data-json="<%= @plan.user.birthday.to_json %>">
      <%= f.date_select :birthday,
        {use_month_numbers: true,
        start_year: 1950,
        end_year: (Time.now.year - 10),
        default: Date.new(1990, 1, 1),
        date_separator: '/ '},
        {class: "form__select", id: "companionBirthday" } %>
    </div>
  </div>

  <%#------- 年齢 -------- %>
  <div class="mb-3">
    <%= icon("person") %> <%= f.label "年齢", for: "companionAge", class: "form-label required" %>
    <%= f.number_field :age, class: "form-control", id: "companionAge", placeholder: "半角数字で入力してください 例）20", data: { target: "companion.age", json: "#{@plan.user.age.to_json}" }%>
  </div>

  <%#------- 性別 -------- %>
  <div class="mb-3" data-target="companion.gender" data-json="<%= @plan.user.gender.to_json %>">
    <%= icon("gender-ambiguous") %> <%= f.label "性別", class: "form-label required" %>
      <br>
      <%= f.radio_button :gender, "男" , class: "form-check-input mx-1", id: "companionGenderMale", checked: true %>
      <%= f.label "男性", for: "companionGenderMale" %>
      <span class="mx-1"></span>
      <%= f.radio_button :gender, "女" , class: "form-check-input mx-1", id: "companionGenderFemale" %>
      <%= f.label "女性", for: "companionGenderFemale" %>
  </div>

  <%#------- 住所 -------- %>
  <div class="mb-3">
    <%= icon("mailbox2") %> <%= f.label "住所", for: "companionAddress", class: "form-label required" %>
    <%= f.text_field :address, placeholder: "例）東京都墨田区押上１丁目１−２", class: "form-control", id: "companionAddress", data: { target: "companion.address", json: "#{@plan.user.address.to_json}" }%>
  </div>

  <%#------- 電話番号 -------- %>
  <div class="mb-3">
    <%= icon("telephone-plus") %> <%= f.label "電話番号（自宅or携帯）", for: "companionPhoneNumber", class: "form-label required" %>
    <%= f.text_field :phone_number, placeholder: "例）090-1234-5678", class: "form-control", id: "companionPhoneNumber", data: { target: "companion.phone_number", json: "#{@plan.user.phone_number.to_json}" }%>
  </div>

  <%#------- 緊急連絡先（間柄） -------- %>
  <div class="mb-3">
    <%= icon("person") %> <%= f.label "緊急連絡先（間柄）", for: "companionEmergencyContact", class: "form-label required" %>
    <%= f.text_field :emergency_contact, placeholder: "例）山田 花子（母）", class: "form-control", id: "companionEmergencyContact", data: { target: "companion.emergency_contact", json: "#{@plan.user.emergency_contact.to_json}" }%>
  </div>

  <%#------- 緊急連絡先の電話番号 -------- %>
  <div class="mb-3">
    <%= icon("telephone-plus") %> <%= f.label "緊急連絡先の電話番号（自宅or携帯）", for: "companionEmergencyNumber", class: "form-label required" %>
    <%= f.text_field :emergency_number, placeholder: "例）052-123-4567", class: "form-control", id: "companionEmergencyNumber", data: { target: "companion.emergency_number", json: "#{@plan.user.emergency_number.to_json}" }%>
  </div>

  <%#------- 登録 -------- %>
  <%= f.submit "登録する", class: "btn btn-primary" %>
  <%= link_to "キャンセル", @plan , class: "btn btn-secondary"%>
<% end %>
