<h1>個人情報の編集</h1>

<%= form_with(model: @user, url: detail_path(@user), local: true, class: "mb-5") do |f| %>

  <div class="mb-3">
    <%= icon("person") %> <%= f.label "氏名", for: "userFullName", class: "form-label" %>
    <%= f.text_field :full_name, placeholder: "例）山田 太郎", class: "form-control", id: "userFullName"%>
  </div>

  <div class="mb-3">
    <%= icon("calendar-date") %> <%= f.label "生年月日", for: "userBirthday", class: "form-label" %>
    <div class="">
      <%= f.date_select :birthday,
        {use_month_numbers: true,
        start_year: 1950,
        end_year: (Time.now.year - 10),
        default: Date.new(1990, 1, 1),
        date_separator: '/ '},
        {class: "form__select"} %>
    </div>
  </div>

  <div class="mb-3">
    <%= icon("person") %> <%= f.label "年齢", for: "userAge", class: "form-label" %>
    <%= f.number_field :age, class: "form-control", id: "userAge", placeholder: "半角数字で入力してください 例）20"%>
  </div>

  <div class="mb-3">
    <%= icon("gender-ambiguous") %> <%= f.label "性別", class: "form-label" %>
      <br>
      <%= f.radio_button :gender, "男" , class: "form-check-input mx-1", id: "genderMale", checked: true %>
      <%= f.label "男性", for: "genderMale" %>
      <span class="mx-1"></span>
      <%= f.radio_button :gender, "女" , class: "form-check-input mx-1", id: "genderFemale"%>
      <%= f.label "女性", for: "genderFemale" %>

  </div>

  <div class="mb-3">
    <%= icon("mailbox2") %> <%= f.label "住所", for: "userAddress", class: "form-label" %>
    <%= f.text_field :address, placeholder: "例）東京都墨田区押上１丁目１−２", class: "form-control", id: "userAddress"%>
  </div>

  <div class="mb-3">
    <%= icon("telephone-plus") %> <%= f.label "電話番号（自宅or携帯）", for: "userPhoneNumber", class: "form-label" %>
    <%= f.text_field :phone_number, placeholder: "例）090-1234-5678", class: "form-control", id: "userPhoneNumber"%>
  </div>

  <div class="mb-3">
    <%= icon("person") %> <%= f.label "緊急連絡先（間柄）", for: "userEmergencyContact", class: "form-label" %>
    <%= f.text_field :emergency_contact, placeholder: "例）山田 花子（母）", class: "form-control", id: "userEmergencyContact"%>
  </div>

  <div class="mb-3">
    <%= icon("telephone-plus") %> <%= f.label "緊急連絡先の電話番号（自宅or携帯）", for: "userEmergencyNumber", class: "form-label" %>
    <%= f.text_field :emergency_number, placeholder: "例）052-123-4567", class: "form-control", id: "userEmergencyNumber"%>
  </div>

  <%= f.submit "登録する", class: "btn btn-primary" %>
  <%= link_to "キャンセル", current_user , class: "btn btn-secondary"%>
<% end %>
