<!-- ナビゲーションメニュー -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container">
    <%= link_to "登山計画書メーカー", (logged_in? ? mypage_path : root_path), class: "navbar-brand" %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <%= link_to icon_with_text("download", "計画書をダウンロード"), sample_format_index_path(format: "pdf"), class: "nav-link" %>
        </li>
        <% if logged_in? %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <%= icon_with_text("file-earmark","計画書メニュー") %>

            </a>
            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
              <li><%= link_to icon_with_text("list-ul","計画書一覧"), plans_path, class: "dropdown-item" %></li>
              <li><%= link_to icon_with_text("file-earmark", "新規計画書作成"), new_plan_path, class: "dropdown-item" %></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <%= icon_with_text("person-circle","アカウントメニュー") %>

            </a>
            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
              <li><%= link_to icon_with_text("person-circle","マイページ"), mypage_path, class: "dropdown-item" %></li>
              <li><%= link_to icon_with_text("book","アドレス帳"), user_address_books_path(current_user), class: "dropdown-item"%></li>
              <li><%= link_to icon_with_text("gear","アカウント設定"), mypage_account_setting_path, class: "dropdown-item"%></li>
              <li>
                <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#exampleModal"><%= icon_with_text("box-arrow-right","ログアウト") %></a>
              </li>
            </ul>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to icon_with_text("person-plus", "アカウントを作成する"), signup_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to icon_with_text("box-arrow-in-right", "ログイン"), login_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">確認</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <% if logged_in?%>
        <div class="modal-body">
          本当にログアウトしますか？
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">キャンセル</button>
          <%= button_to "ログアウト", logout_path, class: "btn btn-danger", method: :delete %>
        </div>
      <% end %>
    </div>
  </div>
</div>
