<!DOCTYPE html>
<html>
  <head>
    <title>登山計画書メーカー</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <div class="footer__fixed">
      <%= render 'layouts/navigation' %>
      <div id="page-content">
        <div class="container mt-4">
          <div id="flash">
            <%= render 'layouts/flash' %>
          </div>
          <%= yield %>
          <% if Rails.env.development? %>
            <div class="text-bg-light py-2 px-3 shadow-sm rounded">
              <p><%= debug(params) %></p>
              <p>セッションID => <%= session[:user_id] %></p>
            </div>
          <% end %>
        </div>
      </div>
      <%= render 'layouts/footer' %>
    </div>
  </body>
</html>
